<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shc_learing_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcherschool"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcherschool_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SHCLearingApp">
        <activity
            android:name=".result.ResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.quiz.ScorceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.quiz.StartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".studentlist.StudentList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".contact.ContactForm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admission.RegistionForm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".developer.developer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admission.AdmissionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".otp.UpdateProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".otp.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".otp.Setprofile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".otp.OtpAutheration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".otp.ManiPhone"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.singUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".video.VideoLucture"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".website.WebSiteActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ebook.PdfViewerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fullimage.FullImageView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ebook.EbookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".otp.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>